
//    Font Family
//'Nunito', sans-serif

$primary-font	: 'Concert One', cursive;
$text-font      : 'Nunito', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #9e843a;
$primary-color2 : #c384b9;
$title-color	: #393939;
$text-color		: #636262;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #000;






